<app-title title="知乎日报" [back]='true'></app-title>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="下来刷新"
        refreshingSpinner="circles"
        refreshingText="刷新中...">
      </ion-refresher-content>
    </ion-refresher>
  
    <ion-list *ngIf="data&&data.length>0" >
        <ion-item *ngFor="let item of data" (click)="onItemClick(item)">
            <ion-label>
              <h2>{{item.title}}</h2>
              <p>{{item.hint}}</p>
            </ion-label>
            <ion-avatar slot="start">
              <img [src]="item.images[0]">
            </ion-avatar>
        </ion-item>

    </ion-list>
  
    <ion-infinite-scroll #IonInfiniteScroll threshold="100px" (ionInfinite)="onMoreData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载更多数据中...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <app-bottom *ngIf="infiniteScroll&&infiniteScroll.disabled"></app-bottom>
    <ion-button *ngIf="!data|| data.length<10" (click)="onMoreData(null)">加载更多数据</ion-button>
  </ion-content>