ion-item{
    --min-height: 18px;
    --inner-padding-end: 5px;
    font-size: 14px;
}

ion-label{
    margin: 0px;
}
// 卡片样式
.card-container{
    margin: 10px 15px;
    padding: 5px;
    box-shadow: 2px 3px 6px 2px rgba(128, 135, 141, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
}