<app-title title="首页" [back]='false' [right]="false"></app-title>

<ion-content  [fullscreen]="true">

  <ion-list mode='ios' >
    <div  *ngFor="let item of production">
      <ion-item lines="none" class="adiv">
          <ion-avatar slot="start">
              <div class="icon-box">
                <img [src]="item.icon" class="event-type">
              </div>
          </ion-avatar>
          <ion-label>
              <h2><span class="event-text-type">{{item.title}}</span></h2>
          </ion-label>
      </ion-item>
      <ion-item [routerLink]="[item.path]">
          <ion-avatar slot="start" style="visibility: hidden;">
              <div class="icon-box">
                <img src="./assets/img/icon_file_default.png" class="event-type">
              </div>
          </ion-avatar>
          <p style="margin-right: 5px;color: gray;">{{item.content}}
              <br>
          </p>
      </ion-item>
    </div>

  </ion-list>
</ion-content>