
<app-title title="设置" [back]='false' [right]="false"></app-title>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      主题设置
    </ion-list-header>
    <ion-radio-group [value]="themes[0].key" (ionChange)="onThemeChange($event)">
      <ion-item *ngFor="let entry of themes">
        <ion-label>{{entry.value}}</ion-label>
        <ion-radio [value]="entry.key" slot="end" [color]="entry.color"></ion-radio >
      </ion-item>
    </ion-radio-group>

    <ion-button (click)="getCurTheme()" expand="block">确认主题</ion-button>

    <ion-list-header>
      效果展示
    </ion-list-header>
    <div class="adiv">
      Hello ,world ,this---s-asdf拉的屎；了爱上了短发啦水电费； 阿道夫
    </div>
  </ion-list>
  <!-- <app-noinfo></app-noinfo> -->
</ion-content>
