
// 整个搜索的盒子
.searche-box{
  // display: block;
  margin-top: 7px;
  height: 33px;
  position: relative;

}
// 包含搜索框的盒子
.searche-box .search-input{
  display: inline-block;
  // width: 100%;
  border: none;
  border-radius: 15px;
  height: 33px;
  overflow: hidden;
  background: #f7f7f7;
  font-size: 14px;
  -webkit-box-align: center;
  line-height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  right: 75px;
  padding-left: 35px;
  padding-right: 10px;
  box-sizing: border-box;

  input{
    border: 0;
    background: 0 0;
    font-size: 12px;
    color: #232326;
    padding-left: 5px;
    width: 19em;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    height: auto;
    margin: 0 0 0 5px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: 16px;
    outline: none;
  }
}

.search-icon{
  width: 18px;
  height: 15px;
  position: relative;
  margin: 11px 8px 0 15px;
  z-index: 1;
  float: left;
}

.searche-button{
  z-index: 1;
  position: absolute;
  right: 10px;
  width: 55px;
  height: 30px;
  font-size: 14px;
  background: var(--ion-color-primary);
  border: none;
  outline: none;
}